<%- include('../port/layout-start', { title: title }) %>
<%- include('../port/menu', { title: title, createAdvBtn: false, authBtn: authBtn }) %>

<h3 class="mt-5"><%= text %></h3>

<%- include('../port/layout-end') %>