<%- include('../port/layout-start', { title: title }) %>
<%- include('../port/menu', { title: title, createAdvBtn: false, authBtn: false }) %>

<% if (errorText && errorText.length) { %>
  <p class="text-center">
    <span class="text-danger"><%= errorText %></span>
  </p>
<% } %>

<form method="POST" class="row">
  <div class="mb-3">
    <label for="email" class="form-label">Почта</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="Введите почту" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Пароль</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Введите пароль" required>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Имя</label>
    <input type="text" name="name" class="form-control" id="name" placeholder="Введите имя" required>
  </div>
  <div class="mb-3">
    <label for="contactPhone" class="form-label">Контактный телефон</label>
    <input type="tel" name="contactPhone" class="form-control" id="contactPhone" placeholder="Введите контактный номер телефона">
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  </div>
</form>

<p class="text-center">
  <span>Уже зарегистрированы?</span>
  <a href="/api/signin">
    <span>Авторизация</span>
  </a>
</p>

<%- include('../port/layout-end') %>